.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}

.countryDisplay h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.lineChart-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.rectangle {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  flex: 1;
  min-width: 200px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
}

@media (min-width: 720px) {
  .content-container {
    max-width: 35vw; /* Adjusted for screens 720p and above */
  }
}

@media (max-width: 1024px) {
  .content-container {
    max-width: 50vw; /* Adjusted for medium screens */
  }

  .countryDisplay h2 {
    font-size: 1.8em;
  }

  .rectangle {
    font-size: 0.9em;
  }

  button {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .content-container {
    max-width: 70vw; /* Adjusted for small screens */
  }

  .countryDisplay h2 {
    font-size: 1.5em;
  }

  .rectangle {
    font-size: 0.8em;
  }

  button {
    padding: 6px 12px;
    font-size: 0.8em;
  }
}

@media (max-width: 480px) {
  .content-container {
    max-width: 90vw; /* Almost full width for very small screens */
  }

  .countryDisplay h2 {
    font-size: 1.2em;
  }

  .rectangle {
    font-size: 0.7em;
  }

  button {
    padding: 6px 12px;
    font-size: 0.8em;
  }
}
